{% extends 'portfolio/base.html' %}
{% load static %}

{% block title %} {% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static '/portfolio/css/home.css' %}">
{% endblock %}

{% block header %}{% endblock %}
{% block main %}
    <section id="header-section" class="flex-center">
        <div id="line" class="flex-center">
            <p>Filip Mularski's <br> portfolio page</p>
        </div>
    </section>

    <section style="height: 100vh;">

    </section>
{% endblock %}
{% block footer %}{% endblock %}