{% extends 'portfolio/base.html' %}
{% load static %}

{% block title %} {% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static '/portfolio/css/home.css' %}">
{% endblock %}

{% block header %}{% endblock %}
{% block main %}
    <section id="header-section" class="flex-center">
        <div id="line" class="flex-center">
            <p>Filip Mularski's <br> portfolio page</p>
        </div>

        <i id="arrow-to-about" class="fas fa-arrow-circle-down"></i>
    </section>

    <section id="about-me-section" class="flex-center">
        <div id="about">

        </div>
    </section>
{% endblock %}
{% block footer %}{% endblock %}

{% block script %}
    <script src="{% static '/portfolio/js/anchors.js' %}"></script>
    <script src="{% static '/portfolio/js/animationsOnEntryHandler.js' %}"></script>
{% endblock %}