{% extends 'portfolio/base.html' %}
{% load static %}

{% block title %} {% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static '/portfolio/css/home.css' %}">
{% endblock %}

{% block header %}{% endblock %}
{% block main %}
    <section id="header-section" class="flex-center">
        <div id="line" class="flex-center">
            <p>Filip Mularski's <br> portfolio page</p>
        </div>

        <i id="arrow-to-about" class="fas fa-arrow-circle-down"></i>
    </section>

    <section id="about-me-section" class="flex-center">
        <div id="about">
            <div id="about-left">
                <img id="hey-its-me" src="{% static '/portfolio/img/heyitsme.png' %} " alt="">
                <img id="me" src="{% static '/portfolio/img/me.png' %}" alt="">
            </div>
            <div id="about-right">
                <p>
                    Hi, my name is Filip and I'm willing to become a professional developer. I discovered my passion 
                    for coding about <b>six years</b> ago when I picked C++ as my first programming language. Although I had 
                    no idea what I was doing back then, I was stunned by the amount of possibilities that coding could
                    give. I was finding learning new programming structures and technics very fascinating, since I've 
                    always loved to experiment.
                </p>
                <p>
                    I have been <b>studying IT</b> in The State University of Applied Sciences in Elbląg. During that time I've learnt
                    a lot and I have been always trying to use that knowledge in my hobby projects. After I gained more experience
                    I decided that creating <b>web applications</b> is what I was willing to do professionally. Because of the fact 
                    I felt confident in writing <b>python</b> code, I decided to pick <b>django</b> as my main backend framework. 
                </p>
                <p>
                    I am looking forward to gaining my first commercial experience in a real-life job as a <b>backend/fullstack</b> developer.
                    I really hope you will like this website, as well as some of my projects attached below. 
                </p>
                <hr>
                <p>
                    <button class="btn btn-dark to-tech-stack">Tech Stack</button>
                    <button class="btn btn-dark">Projects</button>
                </p>
                
            </div>
        </div>
    </section>
    <section id="tech-stack-section">
        <h2><i class="fas fa-laptop-code"></i> My tech stack</h2>
        <table>
            <tr>
                <td></td>
                <td>
                    <div class="tech">
                        <img id="python-img" src="{% static '/portfolio/img/python.png' %}" alt="">
                        <span class="tech-desc">just my favourite!</span>
                    </div>
                </td>
                <td></td>
                <td>
                    <div class="tech">
                        <img id="django-img" src="{% static '/portfolio/img/django.png' %}" alt="">
                        <span class="tech-desc">still learning its power</span>
                    </div>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <div class="tech">
                        <img id="html-img" src="{% static '/portfolio/img/html5.png' %}" alt="">
                        <span class="tech-desc">good ol' markup</span>
                    </div>
                </td>
                <td></td>
                <td>
                    <div class="tech">
                        <img id="sass-img" src="{% static '/portfolio/img/sass.png' %}" alt="">
                        <span class="tech-desc">prefer it to vanilla CSS</span>
                    </div>
                </td>
                <td></td>
                <td>
                    <div class="tech">
                        <img id="js-img" src="{% static '/portfolio/img/js.png' %}" alt="">
                        <span class="tech-desc">love to do fancy stuff with it!</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <div class="tech">
                        <img id="psql-img" src="{% static '/portfolio/img/psql.png' %}" alt="">
                        <span class="tech-desc">the db I usually work with</span>
                    </div>
                </td>
                <td></td>
                <td>
                    <div class="tech">
                        <img id="git-img" src="{% static '/portfolio/img/git.png' %}" alt="">
                        <span class="tech-desc">to control my work</span>
                    </div>
                </td>
                <td></td>
            </tr>
        </table>
        <img id="programming" src="{% static '/portfolio/img/programming.svg' %}" alt="">
        <span class="animated-code animated-code-1">print('Hello world')</span>
        <span class="animated-code animated-code-2">for x in mylist: print(x)</span>
        <span class="animated-code animated-code-3">fun = lambda x: x % 2</span>
        <span class="animated-code animated-code-4">v1, v2 = v2, v1</span>
        <span class="animated-code animated-code-5">py manage.py migrate</span>
        
    </section>
    <section id="projects-section">
        
    </section>
{% endblock %}
{% block footer %}{% endblock %}

{% block script %}
    <script src="{% static '/portfolio/js/anchors.js' %}"></script>
    <script src="{% static '/portfolio/js/animationsOnEntryHandler.js' %}"></script>
{% endblock %}