@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

section#contact-section {
    min-height: 100vh;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.7));
    // background: url('https://mularskif-portfolio.s3.eu-central-1.amazonaws.com/portfolio/img/desk.png');
    // background-size: cover;
    // background-attachment: fixed;
    // object-fit: cover;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    position: relative;

    div.flash-msg {
        // font-family: 'Stick No Bills', sans-serif;
        font-family: 'Special Elite', cursive;
        width: 20rem;
        position: absolute;
        right: 3rem;
        top: 3rem;
        color: white;
        padding: 1rem 3rem 1rem 3rem;
        border-radius: 2rem;
        transition: all 0.5s ease;
        animation: msg-entry 0.5s ease;

        &.success {
            background: rgba(0, 190, 0, 0.5);
            box-shadow: rgba(0, 80, 0, 0.5) .5rem .5rem .3rem;
        }

        &.error {
            background: rgb(255, 0, 85);
            box-shadow: rgb(187, 0, 62) .5rem .5rem .25rem;
        }
    }

    a#download-resume {
        text-decoration: none;
        border-radius: 50%;

        div {
            width: 18rem;
            height: 18rem;
            // background: rgb(255, 0, 85);
            background: white;
            border-radius: 50%;
            box-shadow: black 1rem 1rem .8rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: all .3s ease;
            transform-origin: center;
            margin: 5rem;

            &.hidden {
                opacity: 0;
                transform: translateX(-50%);
            }

            span {
                // font-family: 'Stick No Bills', sans-serif;
                font-family: 'Special Elite', cursive;
                font-size: 2rem;
                color: black;
            }

            i {
                padding: 1rem;
                font-size: 4rem;
                color: black;
            }

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    form {
        width: 35rem;
        // font-family: 'Stick No Bills', sans-serif;
        font-family: 'Special Elite', cursive;
        transition: all 0.3s ease;
        margin: 5rem;
        color: white;
        text-shadow: black 3px 3px 2px;

        &.hidden {
            opacity: 0;
            transform: translateX(40%);
        }

        h2 {
            font-size: 3rem;
        }

        label {
            font-size: 1.6rem;
        }

        input, textarea {
            margin-bottom: 1rem;
        }

        textarea {
            resize: none;
        }

        input:focus, textarea:focus {
            // border-color: rgb(187, 0, 62);
            // box-shadow: rgb(187, 0, 62) 0.25rem 0.25rem 0.25rem; 
            border-color: black;
            box-shadow: black 0.25rem 0.25rem 0.25rem; 
        }

        button {
            display: block;
            margin: auto;
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
            background: white;
            box-shadow: black .7rem .7rem .6rem;
            color: black;

            // background: rgb(255, 0, 85);
            // box-shadow: rgb(187, 0, 62) .25rem .25rem .12rem;
            transition: all 0.3s ease;
            font-size: 1.6rem;

            &:hover {
                transform: scale(1.1);
            }

            i {
                transition: all 0.5s ease;
                animation: spin 1s ease infinite;
                font-size: 1.6rem;
            }
        }

    }

    div#social-media {
        position: absolute;
        bottom: 1rem;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 10rem;

        a {
            text-decoration: none;
            font-size: 1.8rem;
            color: black;

            i {
                padding: 1.2rem;
                // background: rgb(255, 0, 85);
                background: white;
                border-radius: 50%;
                box-shadow: black .5rem .5rem .4rem;
                // box-shadow: rgb(187, 0, 62) .25rem .25rem .12rem;
                transition: all 0.3s ease;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
}

@keyframes msg-entry {
    from {
        right: -30%;
    } to {
        right: 3rem;
    }
}

@keyframes msg-leave {
    from {
        right: 3rem;
    } to {
        right: -30%;
    }
}

@keyframes spin {
    from {
        transform: rotateZ(0deg);
    } to {
        transform: rotateZ(360deg);
    }
}