@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

section#projects-section {
    min-height: 100vh;
    // background: url('https://mularskif-portfolio.s3.eu-central-1.amazonaws.com/portfolio/img/puzzle.png');
    // background-size: cover;
    // background-position: center;
    // background-attachment: fixed;
    // object-fit: cover;
    padding-bottom: 3rem;

    h2 {
        // font-family: 'Comfortaa', cursive;
        font-family: 'Special Elite', cursive;
        padding: 3% 5vw 3% 5vw;
        color: white;
        text-shadow: black 2px 2px 1px;
        font-size: 3rem;
        text-align: center;
        transition: all 0.5s ease;
        margin-top: 5rem;

        img {
            height: 4rem;
            margin-left: -.5rem;
            margin-right: -.5rem;
        }

        &.hidden {
            transform: translateX(-40%);
            opacity: 0;
        }
    }

    div#projects, div#projects-2 {
        // font-family: 'Comfortaa', cursive;
        font-family: 'Special Elite', cursive;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;

        div.project {
            width: 40rem;
            margin: 0 2rem 2rem 2rem;
            transition: all 0.5s ease;

            &.hidden {
                transform: translateX(-40%);
                opacity: 0;
            }

            &.hidden-right {
                transform: translateX(40%);
                opacity: 0;
            }
            
            h3.project-title {
                color: white;
                text-shadow: black 2px 2px 1px;
                font-family: 'Special Elite', cursive;
                text-align: center;
                font-size: 2rem;
            }
            
            div.project-content {
                box-shadow: rgba(0, 0, 0, .6) 1rem 1rem .6rem;
                border-radius: 3rem;
                img {
                    width: 100%;
                    border-top-left-radius: 3rem;
                    border-top-right-radius: 3rem;
                }

                div.project-desc {
                    background: white;
                    padding: 2rem;
                    border-bottom-left-radius: 3rem;
                    border-bottom-right-radius: 3rem;
                }
            }
        }
    }
}