@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Play&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Stick+No+Bills&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
section#header-section {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.767)), to(transparent));
  background: linear-gradient(rgba(0, 0, 0, 0.767), transparent);
  min-height: 100vh;
  position: relative;
}

section#header-section p {
  color: white;
  font-size: 3rem;
  font-family: 'Special Elite', cursive;
  text-align: center;
  margin: 0;
}

section#header-section div#line {
  overflow: hidden;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  position: absolute;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-animation: extending-line 3s ease;
          animation: extending-line 3s ease;
  width: 90%;
  height: 12rem;
}

section#header-section i {
  position: absolute;
  bottom: 4rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 2rem;
  color: white;
  opacity: 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-animation: pulse 1s ease infinite;
          animation: pulse 1s ease infinite;
}

section#header-section i:hover {
  cursor: pointer;
}

@-webkit-keyframes extending-line {
  0% {
    z-index: 1000;
    border-radius: 100%;
    width: 200vw;
    height: 200vw;
    background: white;
  }
  35% {
    width: 0;
    height: 0;
    border-radius: 100%;
    background: white;
  }
  55% {
    width: 90%;
    height: 0;
    border-radius: 0%;
    background: transparent;
  }
  100% {
    width: 90%;
    height: 12rem;
  }
}

@keyframes extending-line {
  0% {
    z-index: 1000;
    border-radius: 100%;
    width: 200vw;
    height: 200vw;
    background: white;
  }
  35% {
    width: 0;
    height: 0;
    border-radius: 100%;
    background: white;
  }
  55% {
    width: 90%;
    height: 0;
    border-radius: 0%;
    background: transparent;
  }
  100% {
    width: 90%;
    height: 12rem;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

section#about-me-section {
  min-height: 100vh;
}

section#about-me-section div#about {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  height: auto;
  width: 80rem;
  background: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.7) 1rem 1rem 0.5rem;
          box-shadow: rgba(0, 0, 0, 0.7) 1rem 1rem 0.5rem;
  opacity: 0;
  padding: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 3rem;
}

section#about-me-section div#about div#about-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section#about-me-section div#about div#about-left h2#hey-its-me {
  width: 20rem;
  display: block;
  font-family: 'Special Elite', cursive;
  text-align: center;
  margin-top: 3rem;
  font-size: 3rem;
}

section#about-me-section div#about div#about-left img#me {
  width: 20rem;
  border-radius: 50%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.7) 1rem 1rem 0.5rem;
          box-shadow: rgba(0, 0, 0, 0.7) 1rem 1rem 0.5rem;
}

section#about-me-section div#about div#about-right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: justify;
  padding: 3rem;
  min-width: 30rem;
  font-family: 'Special Elite', cursive;
}

section#about-me-section div#about div#about-right button {
  font-family: 'Special Elite', cursive;
}

section#tech-stack-section {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#tech-stack-section h2 {
  padding: 3% 5vw 3% 5vw;
  margin: 0;
  font-size: 3rem;
  color: white;
  font-family: 'Special Elite', cursive;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  text-shadow: black 3px 3px 2px;
}

section#tech-stack-section h2.hidden {
  -webkit-transform: translateX(-40%);
          transform: translateX(-40%);
  opacity: 0;
}

section#tech-stack-section table div.tech {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#tech-stack-section table div.tech img {
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 1rem 1rem 0.8rem;
          box-shadow: rgba(0, 0, 0, 0.8) 1rem 1rem 0.8rem;
  opacity: 1;
}

section#tech-stack-section table div.tech span.tech-desc {
  font-family: 'Special Elite', cursive;
  text-shadow: black 3px 3px 2px;
  color: white;
  margin: 1rem;
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
}

section#tech-stack-section span.animated-code {
  font-family: 'Source Code Pro', monospace;
  font-size: 1.2rem;
  position: absolute;
  color: white;
  font-weight: bold;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-animation: animated-code 2s linear infinite;
          animation: animated-code 2s linear infinite;
  opacity: 0;
  text-shadow: black 2px 2px;
}

section#tech-stack-section span.animated-code-1 {
  bottom: 8rem;
  right: 12rem;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

section#tech-stack-section span.animated-code-2 {
  bottom: 11rem;
  right: 9rem;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

section#tech-stack-section span.animated-code-3 {
  bottom: 14rem;
  right: 20rem;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

section#tech-stack-section span.animated-code-4 {
  bottom: 17rem;
  right: 19rem;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

section#tech-stack-section span.animated-code-5 {
  bottom: 20rem;
  right: 9rem;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

section#tech-stack-section img#programming {
  position: absolute;
  bottom: 0;
  right: 5vw;
  width: 35rem;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-webkit-keyframes animated-code {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  20% {
    opacity: 1;
    -webkit-transform: translateX(3%) translateY(-10vh);
            transform: translateX(3%) translateY(-10vh);
  }
  40% {
    opacity: 1;
    -webkit-transform: translateX(3%) translateY(-20vh);
            transform: translateX(3%) translateY(-20vh);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(0) translateY(-30vh);
            transform: translateX(0) translateY(-30vh);
  }
  80% {
    opacity: 1;
    -webkit-transform: translateX(0) translateY(-40vh);
            transform: translateX(0) translateY(-40vh);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(0) translateY(-50vh);
            transform: translateX(0) translateY(-50vh);
  }
}

@keyframes animated-code {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  20% {
    opacity: 1;
    -webkit-transform: translateX(3%) translateY(-10vh);
            transform: translateX(3%) translateY(-10vh);
  }
  40% {
    opacity: 1;
    -webkit-transform: translateX(3%) translateY(-20vh);
            transform: translateX(3%) translateY(-20vh);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(0) translateY(-30vh);
            transform: translateX(0) translateY(-30vh);
  }
  80% {
    opacity: 1;
    -webkit-transform: translateX(0) translateY(-40vh);
            transform: translateX(0) translateY(-40vh);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(0) translateY(-50vh);
            transform: translateX(0) translateY(-50vh);
  }
}

@media screen and (max-width: 800px) {
  table div.tech img {
    width: 7rem;
  }
  table span.tech-desc {
    display: none;
  }
}

section#projects-section {
  min-height: 100vh;
  padding-bottom: 3rem;
}

section#projects-section h2 {
  font-family: 'Special Elite', cursive;
  padding: 3% 5vw 3% 5vw;
  color: white;
  text-shadow: black 2px 2px 1px;
  font-size: 3rem;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-top: 5rem;
}

section#projects-section h2 img {
  height: 4rem;
  margin-left: -.5rem;
  margin-right: -.5rem;
}

section#projects-section h2.hidden {
  -webkit-transform: translateX(-40%);
          transform: translateX(-40%);
  opacity: 0;
}

section#projects-section div#projects, section#projects-section div#projects-2 {
  font-family: 'Special Elite', cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section#projects-section div#projects div.project, section#projects-section div#projects-2 div.project {
  width: 40rem;
  margin: 0 2rem 2rem 2rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

section#projects-section div#projects div.project.hidden, section#projects-section div#projects-2 div.project.hidden {
  -webkit-transform: translateX(-40%);
          transform: translateX(-40%);
  opacity: 0;
}

section#projects-section div#projects div.project.hidden-right, section#projects-section div#projects-2 div.project.hidden-right {
  -webkit-transform: translateX(40%);
          transform: translateX(40%);
  opacity: 0;
}

section#projects-section div#projects div.project h3.project-title, section#projects-section div#projects-2 div.project h3.project-title {
  color: white;
  text-shadow: black 2px 2px 1px;
  font-family: 'Special Elite', cursive;
  text-align: center;
  font-size: 2rem;
}

section#projects-section div#projects div.project div.project-content, section#projects-section div#projects-2 div.project div.project-content {
  -webkit-box-shadow: rgba(0, 0, 0, 0.6) 1rem 1rem 0.6rem;
          box-shadow: rgba(0, 0, 0, 0.6) 1rem 1rem 0.6rem;
  border-radius: 3rem;
}

section#projects-section div#projects div.project div.project-content img, section#projects-section div#projects-2 div.project div.project-content img {
  width: 100%;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
}

section#projects-section div#projects div.project div.project-content div.project-desc, section#projects-section div#projects-2 div.project div.project-content div.project-desc {
  background: white;
  padding: 2rem;
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
}

section#contact-section {
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.7)));
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.7));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

section#contact-section div.flash-msg {
  font-family: 'Special Elite', cursive;
  width: 20rem;
  position: absolute;
  right: 3rem;
  top: 3rem;
  color: white;
  padding: 1rem 3rem 1rem 3rem;
  border-radius: 2rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-animation: msg-entry 0.5s ease;
          animation: msg-entry 0.5s ease;
}

section#contact-section div.flash-msg.success {
  background: rgba(0, 190, 0, 0.5);
  -webkit-box-shadow: rgba(0, 80, 0, 0.5) 0.5rem 0.5rem 0.3rem;
          box-shadow: rgba(0, 80, 0, 0.5) 0.5rem 0.5rem 0.3rem;
}

section#contact-section div.flash-msg.error {
  background: #ff0055;
  -webkit-box-shadow: #bb003e 0.5rem 0.5rem 0.25rem;
          box-shadow: #bb003e 0.5rem 0.5rem 0.25rem;
}

section#contact-section a#download-resume {
  text-decoration: none;
  border-radius: 50%;
}

section#contact-section a#download-resume div {
  width: 18rem;
  height: 18rem;
  background: white;
  border-radius: 50%;
  -webkit-box-shadow: black 1rem 1rem .8rem;
          box-shadow: black 1rem 1rem .8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-transform-origin: center;
          transform-origin: center;
  margin: 5rem;
}

section#contact-section a#download-resume div.hidden {
  opacity: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

section#contact-section a#download-resume div span {
  font-family: 'Special Elite', cursive;
  font-size: 2rem;
  color: black;
}

section#contact-section a#download-resume div i {
  padding: 1rem;
  font-size: 4rem;
  color: black;
}

section#contact-section a#download-resume div:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

section#contact-section form {
  width: 35rem;
  font-family: 'Special Elite', cursive;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin: 5rem;
  color: white;
  text-shadow: black 3px 3px 2px;
}

section#contact-section form.hidden {
  opacity: 0;
  -webkit-transform: translateX(40%);
          transform: translateX(40%);
}

section#contact-section form h2 {
  font-size: 3rem;
}

section#contact-section form label {
  font-size: 1.6rem;
}

section#contact-section form input, section#contact-section form textarea {
  margin-bottom: 1rem;
}

section#contact-section form textarea {
  resize: none;
}

section#contact-section form input:focus, section#contact-section form textarea:focus {
  border-color: black;
  -webkit-box-shadow: black 0.25rem 0.25rem 0.25rem;
          box-shadow: black 0.25rem 0.25rem 0.25rem;
}

section#contact-section form button {
  display: block;
  margin: auto;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: white;
  -webkit-box-shadow: black .7rem .7rem .6rem;
          box-shadow: black .7rem .7rem .6rem;
  color: black;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 1.6rem;
}

section#contact-section form button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

section#contact-section form button i {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-animation: spin 1s ease infinite;
          animation: spin 1s ease infinite;
  font-size: 1.6rem;
}

section#contact-section div#social-media {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10rem;
}

section#contact-section div#social-media a {
  text-decoration: none;
  font-size: 1.8rem;
  color: black;
}

section#contact-section div#social-media a i {
  padding: 1.2rem;
  background: white;
  border-radius: 50%;
  -webkit-box-shadow: black .5rem .5rem .4rem;
          box-shadow: black .5rem .5rem .4rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

section#contact-section div#social-media a i:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@-webkit-keyframes msg-entry {
  from {
    right: -30%;
  }
  to {
    right: 3rem;
  }
}

@keyframes msg-entry {
  from {
    right: -30%;
  }
  to {
    right: 3rem;
  }
}

@-webkit-keyframes msg-leave {
  from {
    right: 3rem;
  }
  to {
    right: -30%;
  }
}

@keyframes msg-leave {
  from {
    right: 3rem;
  }
  to {
    right: -30%;
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}
/*# sourceMappingURL=home.css.map */