nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: rgba(0, 0, 0, 0.7) 5px 5px;
    padding: 1rem;
    z-index: 1;

    ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;

        li {

            a {
                color: white;
                text-decoration: none;
            }

        }
    }
}