* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    // background: url('https://mularskif-portfolio.s3.eu-central-1.amazonaws.com/portfolio/img/planks.png');
    // background-attachment: fixed;
    // background-size: cover;
    // background-position: center;
}

body:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background: url('https://mularskif-portfolio.s3.eu-central-1.amazonaws.com/portfolio/img/planks.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

section {
    width: 100vw;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-dark {
    transition: all 0.3s ease;

    &:hover {
        transform: scale(1.05);
    }
}

@media screen and (max-width: 1600px) {
    html {
        font-size: 90%; 
    }
}

@media screen and (max-width: 1400px) {
    html {
        font-size: 90%;
    }
}

@media screen and (max-width: 1200px) {
    html {
        font-size: 80%;
    }
}

@media screen and (max-width: 1000px) {
    html {
        font-size: 70%;
    }
}

@media screen and (max-width: 800px) {
    html {
        font-size: 60%;
    }
}

@media screen and (max-width: 600px) {
    html {
        font-size: 60%;
    }
}

@media screen and (max-width: 400px) {
    html {
        font-size: 60%;
    }
}


